<div class="card h-100">
    <div class="card-header justify-content-between align-items-center d-flex border-0 pb-0">
        <h6 class="card-title m-0 text-muted fs-xs text-uppercase fw-bolder tracking-wide">Average Order Total</h6>
    </div>
    <div class="card-body">
        <div class="row gx-4 mb-4 mb-md-1">
            <div class="col-12 col-md-6">
                <p class="fs-4 fw-bolder">$119.99</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="chart chart-sm">
                    <canvas id="chartAvgOrders"></canvas>
                </div>
            </div>
        </div>
        <span class="badge bg-danger-faded text-danger me-2"><i class="ri-arrow-down-fill align-bottom"></i> 10.5%</span> <span class="text-muted small">based on 119 new orders</span>
    </div>
</div>