<div class="card mb-4 h-100">
    <div class="card-header justify-content-between align-items-center d-flex">
        <h6 class="card-title m-0">Newsletter revenue</h6>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                id="dropdownNewsletter" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-more-2-line"></i>
            </button>
            <ul class="dropdown-menu dropdown" aria-labelledby="dropdownNewsletter">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <h4 class="fs-3 fw-bold mb-3">$123,778</h4>
        <div class="progress f-h-1">
            <div class="progress-bar" role="progressbar" style="width: 15%" aria-valuenow="15" aria-valuemin="0"
                aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top" title="Gross sales"></div>
            <div class="progress-bar opacity-75" role="progressbar" style="width: 25%" aria-valuenow="25"
                aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Net sales"></div>
            <div class="progress-bar opacity-50" role="progressbar" style="width: 35%" aria-valuenow="35"
                aria-valuemin="0" aria-valuemax="100" data-bs-toggle="tooltip" data-bs-placement="top"
                title="Total profit"></div>
        </div>

        <table class="table mb-0 mt-4">
            <tbody>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="f-w-2 f-h-2 rounded-circle bg-primary d-block"></span>
                            <span class="text-muted ms-2">Gross sales</span>
                        </div>
                    </td>
                    <td><span class="fw-bolder">$3,289.99</span></td>
                    <td class="text-end">
                        <span class="badge bg-success-faded text-success">+25%</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="f-w-2 f-h-2 rounded-circle bg-primary d-block opacity-75"></span>
                            <span class="text-muted ms-2">Net sales</span>
                        </div>
                    </td>
                    <td><span class="fw-bolder">$1,758.99</span></td>
                    <td class="text-end">
                        <span class="badge bg-danger-faded text-danger">-15%</span>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="d-flex align-items-center">
                            <span class="f-w-2 f-h-2 rounded-circle bg-primary d-block opacity-50"></span>
                            <span class="text-muted ms-2">Total profit</span>
                        </div>
                    </td>
                    <td><span class="fw-bolder">$699.54</span></td>
                    <td class="text-end">
                        <span class="badge bg-info-faded text-info">0%</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
