<div class="card mb-4 h-100">
    <div class="card-header justify-content-between align-items-center d-flex">
        <h6 class="card-title m-0">Current Sales</h6>
        <div class="dropdown">
            <button class="btn btn-link dropdown-toggle dropdown-toggle-icon fw-bold p-0" type="button"
                id="dropdownExpenses" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="ri-more-2-line"></i>
            </button>
            <ul class="dropdown-menu dropdown" aria-labelledby="dropdownExpenses">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
    <div class="card-body">
        <div class="d-flex justify-content-between align-items-start mb-4 mt-2">
            <div class="d-flex align-items-center">
                <h4 class="fs-3 fw-bold mb-0 me-3">$123,668</h4>
                {{> content/uptrend amount="13" }}
            </div>
            <div class="d-flex align-items-center ms-2 d-xxl-none">
                <div class="d-flex align-items-center">
                    <span class="f-w-2 f-h-2 bg-primary d-block rounded-circle me-2"></span>
                    <span class="small text-muted">2021</span>
                </div>
                <div class="d-flex align-items-center ms-4">
                    <span class="f-w-2 f-h-2 bg-secondary-faded d-block rounded-circle me-2"></span>
                    <span class="small text-muted">2020</span>
                </div>
            </div>
        </div>
        <div class="chart chart-md pt-2">
            <canvas id="chartBar"></canvas>
        </div>
    </div>
</div>