<div class="card h-100">
    <div class="card-header justify-content-between align-items-center d-flex border-0 pb-0">
        <h6 class="card-title m-0 text-muted fs-xs text-uppercase fw-bolder tracking-wide">Refunds issued</h6>
    </div>
    <div class="card-body">
        <div class="row gx-4 mb-4 mb-md-1">
            <div class="col-12 col-md-6">
                <p class="fs-4 fw-bolder">$12,340</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="chart chart-sm">
                    <canvas id="chartNumRefunds"></canvas>
                </div>
            </div>
        </div>
        <span class="badge bg-success-faded text-success me-2"><i class="ri-arrow-up-fill align-bottom"></i> 7.3%</span> <span class="text-muted small">53 refunds issued today</span>
    </div>
</div>