<div class="card h-100">
    <div class="card-header justify-content-between align-items-center d-flex border-0 pb-0">
        <h6 class="card-title m-0 text-muted fs-xs text-uppercase fw-bolder tracking-wide">Average Order</h6>
    </div>
    <div class="card-body">
        <div class="row gx-4 mb-3 mb-md-1">
            <div class="col-12 col-md-6">
                <p class="fs-3 fw-bold d-flex align-items-center"><span class="fs-9 me-1">$</span> 193,99</p>
            </div>
            <div class="col-12 col-md-6">
                <div class="chart chart-sm">
                    <canvas id="chartAvgOrders"></canvas>
                </div>
            </div>
        </div>
        <div class="d-flex align-items-center">
            <span class="f-w-7 f-h-7 p-2 bg-danger-faded text-danger rounded-circle d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-100"><polyline points="23 18 13.5 8.5 8.5 13.5 1 6"></polyline><polyline points="17 18 23 18 23 12"></polyline></svg>
            </span>
            <span class="fw-bold text-danger fs-9 ms-2">- 23.5%</span>
        </div>
    </div>
</div>