<aside class="aside bg-white">

    <div class="simplebar-wrapper">
        <div data-pixr-simplebar>
            <div class="pb-6">
                <!-- Mobile Logo-->
                <div class="d-flex d-xl-none justify-content-between align-items-center border-bottom aside-header">
                    <a class="navbar-brand lh-1 border-0 m-0 d-flex align-items-center" href="{{webRoot}}/index.html">
                        {{> navbar/logo }}
                    </a>
                    <i
                        class="ri-close-circle-line ri-lg close-menu text-muted transition-all text-primary-hover me-4 cursor-pointer"></i>
                </div>
                <!-- / Mobile Logo-->

                <ul class="list-unstyled mb-6">

                    <!-- Dashboard Menu Section-->
                    <li class="menu-section mt-2">Menu</li>
                    <li class="menu-item"><a class="d-flex align-items-center" href="{{webRoot}}/index.html"><i
                                class="ri-dashboard-line me-3"></i> <span class="menu-link">Dashboard</span></a></li>
                    <!-- / Dashboard Menu Section-->

                    <!-- UI Kit Menu Section-->
                    <li class="menu-section mt-5">UI Kit</li>
                    <li class="menu-item"><a class="d-flex align-items-center collapsed" href="#"
                            data-bs-toggle="collapse" data-bs-target="#collapseMenuItemUI" aria-expanded="false"
                            aria-controls="collapseMenuItemUI"><i class="ri-pencil-ruler-2-line me-3"></i>
                            <span class="menu-link">Components</span></a>
                        <div class="collapse" id="collapseMenuItemUI">
                            <ul class="submenu">
                                <li><a href="{{webRoot}}/accordion.html">Accordion</a></li>
                                <li><a href="{{webRoot}}/alert.html">Alert</a></li>
                                <li><a href="{{webRoot}}/badge.html">Badge</a></li>
                                <li><a href="{{webRoot}}/button.html">Button</a></li>
                                <li><a href="{{webRoot}}/card.html">Card</a></li>
                                <li><a href="{{webRoot}}/collapse.html">Collapse</a></li>
                                <li><a href="{{webRoot}}/dropdown.html">Dropdown</a></li>
                                <li><a href="{{webRoot}}/modal.html">Modal</a></li>
                                <li><a href="{{webRoot}}/offcanvas.html">Offcanvas</a></li>
                                <li><a href="{{webRoot}}/pagination.html">Pagination</a></li>
                                <li><a href="{{webRoot}}/popover.html">Popovers</a></li>
                                <li><a href="{{webRoot}}/progress.html">Progress</a></li>
                                <li><a href="{{webRoot}}/tooltip.html">Tooltips</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="menu-item"><a class="d-flex align-items-center collapsed" href="#"
                            data-bs-toggle="collapse" data-bs-target="#collapseMenuItemContent" aria-expanded="false"
                            aria-controls="collapseMenuItemContent"><i class="ri-file-line me-3"></i>
                            <span class="menu-link">Content</span></a>
                        <div class="collapse" id="collapseMenuItemContent">
                            <ul class="submenu">
                                <li><a href="{{webRoot}}/tables.html">Tables</a></li>
                                <li><a href="{{webRoot}}/forms.html">Forms</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- / UI Kit Menu Section-->

                    <!-- Pages Menu Section-->
                    <li class="menu-section mt-5">Pages</li>
                    <li class="menu-item"><a class="d-flex align-items-center collapsed" href="#"
                            data-bs-toggle="collapse" data-bs-target="#collapseMenuItemPages" aria-expanded="false"
                            aria-controls="collapseMenuItemPages"><i class="ri-pages-line me-3"></i> <span
                                class="menu-link">Pages</span></a>
                        <div class="collapse" id="collapseMenuItemPages">
                            <ul class="submenu">
                                <li><a href="{{webRoot}}/login.html">Login</a></li>
                                <li><a href="{{webRoot}}/register.html">Register</a></li>
                                <li><a href="{{webRoot}}/forgot-password.html">Forgot Password</a></li>
                                <li><a href="{{webRoot}}/404.html">404 Page</a></li>
                                <li><a href="{{webRoot}}/blank.html">Blank Page</a></li>
                            </ul>
                        </div>
                    </li>
                    <!-- / Pages Menu Section-->

                </ul>
            </div>
        </div>
    </div>

</aside>